<ng-include src="'views/components/errorMessage.html'"></ng-include>

<div class="row marketing" data-ng-show="resourceLoaded">

	<h2>{{weather.locale}}</h2>

	<table width="100%" id="hourly" class="table table-striped table-bordered table-hover">
		<thead>
		<tr>
			<td></td>
			<td ng-repeat="day in weather.dayName"><a ng-href="{{location}}/{{day}}">{{day}}</a></td>
		</tr>
		</thead>
		<tr>
			<td>Summary:</td>
			<td ng-repeat="stat in weather.data">{{stat.summary}}</td>
		</tr>
		<tr>
			<td>Temp max:</td>
			<td ng-repeat="stat in weather.data">{{stat.temperatureMax}}°C</td>
		</tr>
		<tr>
			<td>Temp min:</td>
			<td ng-repeat="stat in weather.data">{{stat.temperatureMin}}°C</td>
		</tr>
		<tr>
			<td>Chance of rain:</td>
			<td ng-repeat="stat in weather.data">{{stat.precipProbability}}%</td>
		</tr>
		<tr>
			<td>Wind speed:</td>
			<td ng-repeat="stat in weather.data">{{stat.windSpeed}} mph</td>
		</tr>
	</table>

	<p>See weather for <a ng-href="{{location}}/today">today</a>.</p>

</div>

<ng-include src="'views/components/spinner.html'"></ng-include>
