<div class="row marketing">

<h2>{{timezone}}</h2>
<p><b>The week ahead:</b></p>

<table width="100%" id="hourly">
    <colgroup>
        <col span="1" style="background-color:#e8e8e8">
    </colgroup>

	<tr>
		<td></td>
		<td ng-repeat="item in days | limitTo: 5">{{item}}</td>
	</tr>
	<tr>
		<td>Summary:</td>
		<td ng-repeat="item in daily | limitTo: 5">{{item.summary}}</td>
	</tr>
	<tr>
		<td>Max temp:</td>
		<td ng-repeat="item in daily | limitTo: 5">{{item.temperatureMax}}°F</td>
	</tr>
	<tr>
		<td>Chance of rain:</td>
		<td ng-repeat="item in daily | limitTo: 5">{{item.precipProbability * 100}}%</td>
	</tr>
	<tr>
		<td>Wind speed:</td>
		<td ng-repeat="item in daily | limitTo: 5">{{item.windSpeed}}</td>
	</tr>
</table>
